@font-face {
    font-family: Minecraft;
    font-display: swap;
    src: url('MinecraftRegular-Bmg3.otf') format('truetype');
}
.text {
	font-family: Minecraft;
}
.download-button {
	font-family: Minecraft;
    font-size: 2em;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    max-width: 100%;
    width: 450px;
    text-align: center;
    display: block;
    margin:auto;
}
.download-button:hover {
    background-color: darkgray;
    color: white;
}
